body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('bkgs2.png');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 32px;
}

#user-info {
    margin-top: 10px;
}

#chat-area {
    flex-grow: 1;
    overflow-y: scroll;
    margin-top: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.input-container {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

#message-input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
}

#send-btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}

.create-private-chat {
    margin-top: 20px;
    text-align: center;
}

.create-private-chat input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#create-private-btn {
    padding: 10px 15px;
    background-color: #f1c40f;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#create-private-btn:hover {
    background-color: #f39c12;
}
